.container {
    display: flex;
    gap: 10px;
}

.card {
    width: 6cm;
    height: 8.5cm;
    background-color: green;
    position: relative;
    overflow: hidden;
}

.border-top,
.border-bottom,
.border-left,
.border-right {
    background-color: rgb(0, 0, 0);
    position: absolute;
}

.border-top {
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
}

.border-bottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
}

.border-left {
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
}

.border-right {
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
}

.square-top,
.square-right,
.square-bottom,
.square-left {
    background-color: beige;
    position: absolute;
    width: 15px;
    height: 15px;
}

.square-top {
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
}

.square-right {
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
}

.square-bottom {
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
}

.square-left {
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
}
